<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>

        <%- include('./partials/common_head.ejs') %>

        <style type="text/css">

        </style>
    </head>
    <body>
        <%- include('./partials/menu.ejs') %>

        <div>
            
        </div>
    </body>
</html>