<!DOCTYPE html>
<html>

<head>
    <title>
        Pagina di accesso
    </title>

    <%- include('./partials/common_head.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <style type="text/css">
        @media only screen and (min-width: 800px) and (min-height: 500px) {
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 100vh;
            }
        }

        @media only screen and (min-width: 800px) and (max-height: 500px) {
            body {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 100vw;
            }
        }

        @media only screen and (max-width: 800px) {
            body {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 100vw;
            }
        }

        .access-panel div.multi {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        @media only screen and (min-width: 400px) {
            .access-panel div.multi {
                flex-direction: row;
            }

            .access-panel div.multi div {
                width: 180px;
            }
        }

        @media only screen and (max-width: 400px) {
            .access-panel div.multi {
                flex-direction: column;
            }

            .access-panel div.multi div {
                width: 100%;
            }
        }

        .access-panel div.multi div input {
            width: 100%;
            padding: 15px 9px;
            font-size: var(--text-size-s);
            border: 2px solid transparent;
            border-bottom: 2px solid var(--accent-color-blue);
            background-color: var(--main-bg-color);
            box-sizing: border-box;
        }

        .access-panel div.multi div input:focus {
            outline: none;
            border: solid 2px var(--accent-color-blue);
        }

        .access-panel {
            width: 100%;
            max-width: 400px;
            display: flex;
            gap: 20px;
            flex-direction: column;
        }

        form {
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.banner {
            width: 100%;
            box-sizing: border-box;
            background-color: var(--accent-color-blue);
            padding: 20px;
            color: var(--text-color-light);
            text-align: center;
            font-size: var(--text-size-s);
            font-weight: var(--text-normal);
            letter-spacing: 1px;
        }

        form div {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            align-items: start;
            justify-content: center;
            width: 100%;
            max-width: 360px;
        }

        input[type="hidden"] {
            display: none;
        }

        form div.mono input, form div.mono select {
            width: 100%;
            padding: 15px 9px;
            font-size: var(--text-size-s);
            border: 2px solid transparent;
            border-bottom: 2px solid var(--accent-color-blue);
            background-color: var(--main-bg-color);
            box-sizing: border-box;
        }

        form div.mono input:focus {
            outline: none;
            border: solid 2px var(--accent-color-blue);
        }

        form button[type="submit"] {
            width: 100%;
            padding: 15px 9px;
            font-size: var(--text-size-s);
            font-weight: var(--text-bold);
            border: none;
            background-color: var(--accent-color-blue);
            color: var(--text-color-light);
            cursor: pointer;
            border-radius: 5px;
        }

        .access-panel img {
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>

<body>
    <div class="access-panel">
        <h1>Completa i dati</h1>
        <div class="banner">
            La tua email e&grave; stata confermata. Ora puoi procedere con la creazione del tuo account.
        </div>
        <div>
            <img src="/static/icon/signup.svg" alt="Icona accedi" />
        </div>
        <form method="POST" action="<%='/signup/confirm/' + token %>" id="signup-form">
            <div class="multi">
                <div>
                    <input type="text" placeholder="Nome" id="first_name" name="first_name" />
                </div>
                <div>
                    <input type="text" placeholder="Cognome" id="last_name" name="last_name" />
                </div>
            </div>
            <div class="mono">
                <input type="date" name="date_of_birth" id="date_of_birth" placeholder="Data di nascita" />
            </div>
            <div class="mono">
                <select name="gender" id="gender">
                    <option value="male">Maschio</option>
                    <option value="female">Femmina</option>
                    <option value="not_say" selected>Prefereisco non rispondere</option>
                </select>
            </div>
            <div class="mono">
                <input type="email" placeholder="Ripeti la tua email" id="email" name="email" />
            </div>
            <div class="mono">
                <input type="password" placeholder="La tua password" id="password" name="password" />
            </div>
            <div class="mono">
                <input type="password" placeholder="Riscrivi la tua password" id="confirm_password"
                    name="confirm_password" />
            </div>
            <div>
                <button type="submit">Crea Account</button>
            </div>
        </form>

        <script type="text/javascript">
            flatpickr("#date_of_birth", {
                enableTime: false,
                dateFormat: "d/m/Y",
            });

            document.getElementById('signup-form').addEventListener('submit', async function (e) {
                e.preventDefault();
                console.log('submit');
                var form = e.target;
                var location = form.action;
                const res = await fetch(location, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        first_name: form.first_name.value,
                        last_name: form.last_name.value,
                        date_of_birth: form.date_of_birth.value,
                        gender: form.gender.value,
                        email: form.email.value,
                        password: form.password.value,
                        confirm_password: form.confirm_password.value
                    })
                });
                if(res.status>=200 && res.status<300) {
                    window.location.href = '/signin';
                    return;
                }
                const errors = await res.json();
                for(var i=0;i<errors.length;i++) {
                    var error = errors[i];
                    document.getElementById(error.field).style.border = '2px solid var(--red-color)';
                }
            });

            function updateBorder(e) {
                e.target.style.border = '2px solid transparent';
                e.target.style.borderBottom = '2px solid var(--accent-color-blue)';
            }

            document.getElementById('first_name').addEventListener('input', updateBorder);
            document.getElementById('last_name').addEventListener('input', updateBorder);
            document.getElementById('date_of_birth').addEventListener('input', updateBorder);
            document.getElementById('email').addEventListener('input', updateBorder);
            document.getElementById('password').addEventListener('input', updateBorder);
            document.getElementById('confirm_password').addEventListener('input', updateBorder);
            document.getElementById('gender').addEventListener('input', updateBorder);

        </script>
    </div>
</body>

</html>