<!DOCTYPE html>
<html>
<head>
    <title><%= action_title %></title>
</head>
<body>
    <h1>Email inviata</h1>
    <p>Abbiamo inviato un'email a <%= email %></p>
    <p>Controlla la tua casella di posta e segui le indicazioni riportate</p>
</body>
</html>