<!DOCTYPE html>
<html>

<head>
    <title>Inbox</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/inbox/style.css" />

    <script src="https://kit.fontawesome.com/49ec009d21.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="inbox">
        <div class="message">
            <div class="icon">
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="icon">
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div class="sender">
                PollEd Team
            </div>
            <div class="subject">
                Benvenuto su PollEd. Completa il tuo profilo.
            </div>
            <div class="body">
                PollEd ti da il benvenuto. Per poter continuare clicca sul link sottostante e completa i dati del profilo
            </div>
        </div>
        <div class="message">
            <div class="icon">
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="icon">
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div class="sender">
                PollEd Team
            </div>
            <div class="subject">
                Benvenuto su PollEd. Completa il tuo profilo.
            </div>
            <div class="body">
                PollEd ti da il benvenuto. Per poter continuare clicca sul link sottostante e completa i dati del profilo
            </div>
        </div>
    </div>
</body>

</html>