<!DOCTYPE html>
<html>

<head>
    <title>Inbox</title>

    <%- include('./partials/common_head.ejs') %>

        <style type="text/css">
            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            div.inbox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100vw;
                overflow-x: hidden;
                overflow-y: auto;
                gap: 10px;
                max-width: 800px;
            }

            div.message {
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                cursor: pointer;
                padding: 21px 0;
            }

            div.message:hover {
                color: solid 3px var(--accent-color-blue);
            }
        </style>
</head>

<body>
    <div class="inbox">
        <% messages.forEach((message)=> { %>
            <div class="message">
                <%- message.body %>
            </div>
            <% }) %>
    </div>
</body>

</html>