<!DOCTYPE html>
<html>

<head>
    <title>PollEd</title>

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/style.css" />
</head>

<body>
    <header>
        <h1>PollEd</h1>
        <h2>
            Una piattaforma semplice e veloce per creare e pubblicare votazioni online
        </h2>
    </header>

    <main>
        <section class="correct">
            <div class="image">
                <img src="/static/icon/election_day.svg" alt="Election day" />
            </div>
            <div class="article">
                <h3>Crea votazioni online</h3>
                <div>
                    Crea votazioni online in pochi click e condividile con chi vuoi
                </div>
            </div>
        </section>

        <section class="reverse">
            <div class="article">
                <h3>Limita l'accesso</h3>
                <div>
                    Crea votazioni e limita l'accesso solo a chi vuoi tu.<br />
                    Puoi decidere quali utenti potranno effettuare il voto sulla base di parametri come il dominio email
                    usato al momento della creazione dell'account
                </div>
            </div>
            <div class="image">
                <img src="/static/icon/filter.svg" alt="Icon filter" />
            </div>
        </section>

        <section class="correct">
            <div class="image">
                <img src="/static/icon/anonymous.svg" alt="Icon filter" />
            </div>
            <div class="article">
                <h3>Opzioni di voto</h3>
                <div>
                    Scegli come trattare i profili dei votanti: puoi permettere votazioni anonime o registrare per ogni voto l'account che lo ha effettuato.
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>