<!DOCTYPE html>
<html>

<head>
    <title>
        Pagina di accesso
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/signin/style.css" />
</head>

<body>
    <div class="access-panel">
        <h1>Esegui l'accesso</h1>
        <div>
            <img src="/static/icon/access_account.svg" alt="Icona accedi" />
        </div>
        <form>
            <div>
                <label for="email">Email</label>
                <input type="email" placeholder="La tua email" id="email" name="email" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" placeholder="La tua password" id="password" name="password" />
            </div>
            <div>
                <button type="submit">Accedi</button>
            </div>
        </form>
    </div>
</body>

</html>