<!DOCTYPE html>
<html>

<head>
    <title>
        Pagina di accesso
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/signin/style.css" />

    <%- include('./partials/common_head.ejs') %>

    <style type="text/css">
        .error {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px 10px;
            background: var(--red-color);
            color: var(--gray-color);
        }
    </style>
</head>

<body>
    <div class="access-panel">
        <h1>Esegui l'accesso</h1>
        <div>
            <img src="/static/icon/access_account.svg" alt="Icona accedi" />
        </div>
        <form method="POST" action="/signin">
            <div>
                <label for="email">Email</label>
                <input type="email" placeholder="La tua email" id="email" name="email" value="<%= typeof old !== 'undefined' ? old.email : '' %>" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" placeholder="La tua password" id="password" name="password" />
            </div>
            <div>
                <button type="submit">Accedi</button>
            </div>
            <% if (typeof error !== 'undefined') { %>
            <div class="error">
                <%= error %>
            </div>
            <% } %>
        </form>
    </div>
</body>

</html>