<!DOCTYPE html>
<html>

<head>
    <title>Create Poll</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />

    <script src="https://kit.fontawesome.com/49ec009d21.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    <%- include('../partials/menu.ejs') %>

        <style type="text/css">
            .body {
                width: 100vw;
                overflow-x: hidden;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            /*textarea {
                resize: vertical;
                width: 100%;
                display: block;
                box-sizing: border-box;
            }*/

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                max-width: 400px;
                gap: 10px;
            }

            form .form-group {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                height: auto;
            }

            form .form-submit {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            form .datetime-group {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            form .datetime-group input {
                width: 50%;
            }

            form textarea {
                resize: vertical;
                width: 100%;
                box-sizing: border-box;
                border: solid 2px var(--green-color);
                border-radius: 5px;
                padding: 9px 15px;
                font-weight: var(--text-normal);
                color: var(--black-color);
                flex: 1;
                display: block;
            }

            form textarea:placeholder-shown {
                border: solid 2px var(--blue-color);
                resize: vertical;
            }

            .body form button[type="submit"] {
                background-color: var(--blue-color);
                color: var(--gray-color);
                border: none;
                border-radius: 6px;
                padding: 10px 20px;
                font-weight: var(--text-bold);
                font-size: var(--text-size-m);
                cursor: pointer;
            }

            form .datetime-group input {
                border: solid 2px var(--blue-color);
                border-radius: 5px;
                padding: 9px 15px;
                font-weight: var(--text-normal);
                color: var(--black-color);
                text-align: center;
            }

            button.manage_questions {
                background-color: var(--black-color);
                color: var(--gray-color);
                border: none;
                border-radius: 6px;
                padding: 10px 20px;
                font-weight: var(--text-bold);
                font-size: var(--text-size-m);
                cursor: pointer;
            }

            div.option_container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
            }
            
            div.option_container label.option_number {
                font-weight: var(--text-bold);
                font-size: var(--text-size-m);
                color: var(--black-color);
            }

            div.option-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
            }
        </style>

        <div class="body">
            <form action="/poll/create/<%= id %>" method="POST">
                <div class="form-group">
                    <textarea id="title" name="title" placeholder="Testo della domanda"></textarea>
                </div>
                <div class="form-group">
                    <textarea id="description" name="description"
                        placeholder="Descrizione a scopo informativo"></textarea>
                </div>
                <div class="option-group" id="option_list">
                    <div class="option_container" id="option_container_1">
                        <label class="option_number" for="option_1">1.</label>
                        <textarea id="option_1" name="option_1" placeholder="Testo della risposta"></textarea>
                    </div>
                </div>
                <div class="form-group" id="option_list">
                    <div>
                        <input type="checkbox" id="multiple" name="multiple_choice" />
                        <label for="multiple">Abilita risposte multiple</label>
                    </div>
                </div>
                <div class="form-group" id="option_list">
                    <div>
                        <input type="checkbox" id="anonymous" name="anonymous_compilation" />
                        <label for="anonymous">Abilita risposte anonime</label>
                    </div>
                </div>
                <div class="form-group" id="option_list">
                    <textarea id="domain_filter" name="domain_filter"
                        placeholder="Restringi compilazione per domain email"></textarea>
                </div>
                <div class="datetime-group">
                    <input type="date" name="start_date" id="date-start" placeholder="Valido dal:" />
                    <input type="date" name="end_date" id="date-end" placeholder="Valido fino al:" />
                </div>
                <div class="form-submit">
                    <button type="submit">Crea</button>
                </div>
            </form>
            <div>
                <button class="manage_questions" onclick="addOption()"><i class="fa-solid fa-plus"></i></button>
                <button class="manage_questions" onclick="removeOption()"><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>

        <script type="text/javascript">
            flatpickr("#date-start", {
                enableTime: true,
                dateFormat: "d/m/Y H:i",
            });
            flatpickr("#date-end", {
                enableTime: true,
                dateFormat: "d/m/Y H:i",
            });
            var option_id = 1;
            function addOption() {
                option_id++;
                var option_container = document.createElement('div');
                option_container.className = 'option_container';
                option_container.id = 'option_container_' + option_id;
                var label = document.createElement('label');
                label.className = 'option_number';
                label.htmlFor = 'option_' + option_id;
                label.innerText = option_id + '.';
                var textarea = document.createElement('textarea');
                textarea.id = 'option_' + option_id;
                textarea.name = 'option_' + option_id;
                textarea.placeholder = 'Risposta numero ' + option_id;
                option_container.appendChild(label);
                option_container.appendChild(textarea);
                var option_list = document.getElementById('option_list');
                option_list.appendChild(option_container);
            }
            function removeOption() {
                if (option_id > 1) {
                    var option_container = document.getElementById('option_container_' + option_id);
                    option_container.remove();
                    option_id--;
                }
            }
        </script>
</body>

</html>