<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <% include('../partials/common_head.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
    </body>
</html>